// webpack 配置
{
  "presets": ["env", "latest"],
  "plugins": []
}


//rollup 配置
/*
{
  "presets": [
    ["latest", {
      "env": {
        "modules": false
      }
    }]
  ],
  "plugins": ["external-helpers"]

}*/
